asgiref==3.12.1
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.2
cloudinary==1.46.3
cryptography==50.0.2
defusedxml==0.7.1
Django==6.1.2
django-debug-toolbar==8.0.0
djangorestframework==3.18.3
djangorestframework_simplejwt==5.5.1
djoser==2.3.4
idna==3.20
oauthlib==4.0.0
pillow==12.3.0
pycparser==3.1
PyJWT==2.15.1
python-decouple==3.8
python-dotenv==1.2.4
python3-openid==3.2.0
requests==2.34.2
requests-oauthlib==2.0.0
six==1.17.0
social-auth-app-django==5.9.0
social-auth-core==4.9.1
sqlparse==0.6.0
tzdata==2026.5
urllib3==2.8.0
